<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">A Warm Welcome!</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit
      vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
  </header>

  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-4 col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bus Journeys</h4>
          <p class="card-text">Find Bus Journey informations</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary nav-link" [routerLink]="['/home/journey']">Find!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Bus Routes</h4>
          <p class="card-text">Listing Bus routes list and related informations</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary nav-link" [routerLink]="['/home/routes']">Find!</a>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Operator Information</h4>
          <p class="card-text">List of Operators in Ireland</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary nav-link" [routerLink]="['/home/operator']">Find!</a>
        </div>
      </div>
    </div>

    <!-- <div class="col-lg-4 col-md-4 mb-4">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Search</h4>
          <p class="card-text">Search a Bus and it stops</p>
        </div>
        <div class="card-footer">
          <a class="btn btn-primary nav-link" [routerLink]="['/home/general']">Find!</a>
        </div>
      </div>
    </div> -->
  </div>
  <!-- /.row -->

</div>
<!-- /.container -->