<!-- Page Content -->
<div class="container">
  <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>

  <h2 i18n>Features</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Mauris vulputate dui dignissim justo volutpat, ac sodales lacus varius.</li>
    <li>Morbi ut risus mattis enim luctus scelerisque.</li>
    <li>Proin ornare mi ac tellus lobortis, non pharetra ex sodales.</li>
    <li>Nulla eu lacus euismod, consequat nunc ac, ultrices nisl.</li>
  </ul>
</div>