:host {
  background-color: #106cc8;
  color: rgba(255, 255, 255, 0.87);
  display: block;
  height: 48px;
  padding: 0 16px;
}

h1 {
  display: inline;
  font-size: 20px;
  font-weight: normal;
  letter-spacing: 0.1px;
  line-height: 48px;
}

.more {
  background: url("./assets/svg/more.svg");
  float: right;
  height: 24px;
  margin-top: 12px;
  width: 24px;
}
.navbar-brand {
  color: #FFF;
  display: inline-block;
  line-height: inherit;
  white-space: nowrap;
}
.navbar-collapse {
    display: flex!important;
    float: right;
}
.navbar-toggler {
    padding: .25rem .75rem;
    line-height: 1;
    background: 0 0;
    border: 1px solid transparent;
    border-radius: .25rem;
    height: auto;
    width: auto;
}    
.navbar-nav {
  padding: 10px;
}
.navbar-nav li {
  list-style: none;
}
.navbar-nav li a {
  color: #FFF;
  padding-left: 20px;
  font-size: 12px;
}